/* 🍈ready- Universal tags */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;  
}

body {
    font-family: "Open Sans", sans-serif;  
    max-width: 1000px;

    text-align: center;
    display: block;
    margin: auto; 
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

/* 🍈ready- css trick */

.title {
  background-color: lightsteelblue;
}

.overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.transforming {
  transition: transform 0.5s;
}

/* 🍈ready- Global */

:root {
  /* color */

  --naver-color: #0eae44;
  --kakao-color: #fee101;

  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;

  --color-black: #000000;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  --color-light-grey: #7c7979;

  --color-blue: #2b81e4;
  --color-light-mint: #cbf3f0;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-strong-orange: #dc2f02;

  --test-color: yellow;

  /* letterspacing : basic 0.1rem */
  --letterspacing-basic: 0.1rem;
  --letterspacing-test: 2rem;

  /* Size :basic 4px=0.5rem  */
  --size-border-basic-radius: 0.5rem;
  --size-border-test-radius: 1rem;

  /* Animation :basic 300ms=0.3s  */

  --animation_basic-duration: 0.3s;
  --animation_test-duration: 1s;
}

/* 🍈html-css */

.myButton {
	background-color:var(--naver-color);
	border-radius:28px;
	border:1px solid var(--naver-color);
	display:inline-block;
	
	color:#ffffff;	
	font-size:17px;

    margin: 1rem;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


.today_covid{
    padding-top: 5rem;
}

.total_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.usa_today{
    background-color: var(--naver-color);
    border-radius: var(--size-border-basic-radius);
    color:#ffffff;	
    
    font-size: 3rem;
    
}








/* 🍉js 4. */
.title-province, .title-confirmed, .title-deaths{
    background-color: lightgrey;
}

.province {
  /* padding: 5px; */
  border: 1px solid var(--color-light-white);
  /* border-radius: 4px; */
  color: #3c763d;
  background-color: var(--color-light-white);
}

.confirmed {
  /* padding: 5px; */
  border: 1px solid var(--color-light-white);
  /* border-radius: 4px; */
  color: lightskyblue;
  background-color: var(--color-light-white);
}

.deaths {
  /* padding: 5px; */
  border: 1px solid var(--color-light-white);
  /* border-radius: 4px; */
  color: lightsalmon;
  background-color: var(--color-light-white);
}

.covid_window {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 10px;
    background-color: #fff;
    color: #444; */
}

.covid_window > div {
  /* background-color: lightskyblue; */
  /* color: #fff; */
  border-radius: 5px;
  /* padding: 20px; */
}


/* 🍉js 8, chart js size */
.chart-container {
  width: 1000px;
  height: 500px;
}


/* 🍈 [responsive] for below 768px screen width */

/* @ 1200px */
@media (max-width: 900px) {
  body {
    max-width: 900;
    margin: auto;
  }
  .chart-container {
    width: 500px;
    height: 250px;
  }
}

/* @ 576px */
@media (max-width: 576px) {
    html {
      font-size: 55%;
    }
  
    .chart-container {
      width: 300px;
      height: 150px;
    }
  
  }